@import "./variables";
@import "./mediaquery";

.form {
  &-container {
    @extend %shared-container;
    width: 90vw;
    @include respond-to("tablet") {
      width: 450px;
    }
    &-article {
      @extend %shared-container;
      width: 600px;
    }
  }
  &-title {
    color: $dark-color;
    text-align: center;
    font-size: 38px;
  }
}

.box {
  // display: flex;
  // justify-content: center;
  margin: 50px 0;
}
