@import "./variables";
@import "./mediaquery";

body,
html {
  position: relative;
  height: auto;
  min-height: 100% !important;
}

.text-container {
  max-width: 80vw;
  position: relative;
  height: auto;
  min-height: 100% !important;
  margin: auto;
  background-color: $bg-color;
  border: 2px solid $light-color;
  border-width: 0 2px 2px 2px;

  @include respond-to("desktop-small") {
    max-width: 90vw;
  }
  @include respond-to("dekstop") {
    max-width: 70vw;
  }

  .user-data-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .title {
    font-size: 25px;
    text-align: center;
    @include respond-to("mobile") {
      font-size: 28px;
    }
    @include respond-to("tablet") {
      font-size: 32px;
    }
    @include respond-to("desktop-small") {
      font-size: 40px;
    }
    @include respond-to("desktop") {
      font-size: 38px;
    }
  }

  #flex-item1 {
    max-width: 600px;
  }

  #flex-item2 {
    min-width: 500px;
  }

  .list {
    &-item {
      font-size: 20px;
      list-style: none;
      text-decoration: none;
      @include respond-to("tablet") {
        font-size: 25px;
      }
    }
    &-title {
      text-decoration: underline wavy $primary-color;
    }
  }
}

.text-dark {
  color: $dark-color;
}

.text-primary {
  color: $primary-color;
}

.user-btn {
  width: 80px;
}

.error-message {
  color: $error-color;
  font-size: 11px;
}

.success-message {
  color: $success-color;
  font-size: 11px;
}
