$bg-color: #f5f5f5;
$light-color: #e8e8e8;
$primary-color: #f41528;
$dark-color: #323232;
$error-color: red;
$success-color: green;

$font: "Montserrat", sans-serif;

// Image created by starline - www.freepik.com

$bg-img-desktop: url("../img/bg-img-desktop.jpg");
$bg-img-small: url("../img/bg-img-small.jpg");

%shared-container {
  padding: 20px;
  border: 2px solid $primary-color;
  border-radius: 10px;
}
